<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@bagusassusilo">
    <meta name="twitter:creator" content="@bagusassusilo">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Scraper">
    <meta name="twitter:description" content="Tokopedia Scraper">

    <!-- Facebook -->
    <meta property="og:title" content="Scraper">
    <meta property="og:description" content="Tokopedia Scraper">

    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Tokopedia Scraper">
    <meta name="author" content="bagusassusilo">

    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Tokoscraper</title>
    <!-- vendor css -->
    <link href="{% static 'css/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static 'css/dashforge.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashforge.auth.css' %}">
</head>

<body>

    <header class="navbar navbar-header navbar-header-fixed">
        <div class="navbar-brand"> <a href="/" class="df-logo">Toko<span>Scraper</span></a> </div>
    </header><!-- navbar -->

    <div class="content content-fixed content-auth-alt">
        <div class="container ht-100p tx-center">
            <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">404 Page Not Found</h1>
                <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. The page you were looking for doesn't
                    exist.</h5>
                <p class="tx-color-03 mg-b-30">You may have mistyped the address or the page may have moved.</p>

            </div>
        </div><!-- container -->
    </div><!-- content -->


    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static 'js/dashforge.js' %}"></script>
    <script src="{% static 'js/dashforge.settings.js' %}"></script>

</body>

</html>