<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Twitter -->
<meta name="twitter:site" content="@bagusassusilo">
<meta name="twitter:creator" content="@bagusassusilo">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Scraper">
<meta name="twitter:description" content="Tokopedia Scraper">

<!-- Facebook -->
<meta property="og:title" content="Scraper">
<meta property="og:description" content="Tokopedia Scraper">

<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">

<!-- Meta -->
<meta name="description" content="Tokopedia Scraper">
<meta name="author" content="bagusassusilo">

<!-- Favicon -->
{% load static %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

<title>Tokoscraper</title>
<!-- vendor css -->
<link href="{% static 'css/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'fonts/typicons.font/typicons.css' %}" rel="stylesheet">
<link href="{% static 'css/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/select2/css/select2.min.css' %}" rel="stylesheet">

<!-- DashForge CSS -->
<link rel="stylesheet" href="{% static 'css/dashforge.css' %}">
<link rel="stylesheet" href="{% static 'css/dashforge.demo.css' %}">